/* SignIn.module.css */

.signupForm {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
  }
  
  .signupForm h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formGroup label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
  }
  
  .formGroup input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .signupForm button {
    padding: 12px;
    background-color: #e31717;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .signupForm button:hover {
    background-color: #970e0e;
  }
  