.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fee3ff; /* Dark background color */
  color: #544f4f; /* Light text color */
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.logoLink h1 {
  margin: 0;
  font-size: 1.5rem; /* Adjust the font size */
}

.headerActions {
  display: flex;
  gap: 1rem;
}

.buttonLink {
  text-decoration: none;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Adjust the font size */
  transition: background-color 0.3s ease; /* Smooth background color transition */

}

.newPostButton {
  background-color: #3498db; /* Blue button color */
  color: #ecf0f1; /* Light text color */
}

.newPostButton:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.signOutButton {
  background-color: #e74c3c; /* Red button color */
  color: #ecf0f1; /* Light text color */
}

.signOutButton:hover {
  background-color: #c0392b; /* Darker red on hover */
}

.signUpButton {
  background-color: #27ae60; /* Green button color */
  color: #ecf0f1; /* Light text color */
}

.signUpButton:hover {
  background-color: #219653; /* Darker green on hover */
}

.signInButton {
  background-color: #f39c12; /* Orange button color */
  color: #ecf0f1; /* Light text color */
}

.signInButton:hover {
  background-color: #d35400; /* Darker orange on hover */
}

.error {
  color: #e74c3c; /* Red error text color */
}
