.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.appName {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #dea8d1;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.featureCardsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.card,
.feature-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%; /* Adjust as needed */
  margin: 0 10px;
}

.subtitle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 10px;
}

.explanationText {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.ideaForm {
  width: 50%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.ideaForm {
  max-width: 400px;
  margin: 20px auto;
  background: #1a2c3b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ideaForm label {
  display: block;
  margin-bottom: 8px;
  color: #c1d1e8;
}

.ideaForm textarea,
.ideaForm input {
  width: 90%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #40566e;
  border-radius: 4px;
  background-color: #30475e;
  color: #c1d1e8;
}

.ideaForm textarea {
  resize: vertical;
}

.ideaForm button {
  background-color: #00adb5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ideaForm button:hover {
  background-color: #007580;
}

.noteText {
  font-size: 14px;
  color: #adbac7;
  margin-top: 8px;
}
